.gradle
.idea
*.iml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/

*.log
*.nav
*.orig
*.pyc
*.swp
*~
*.med 
!README.md 
!LICENSE

.metadata
.recommenders
.settings/
.loadpath
.buildpath
.classpath
.project
.factorypath
.springBeans
.sts4-cache/

# Keystore files (NEVER commit these!)
*.jks
*.keystore
keystore.properties
